openapi: 3.1.0
info:
  title: LogiQED API
  version: 0.3.0
  description: |
    Verifiable Freight Infrastructure.
    Evidence layer for physical logistics.
    EPCIS 2.0 event model.

    ## Authentication
    - Device events: X-Telemetry-Key header, assigned by LogiQED.
    - Operator API: Bearer JWT.
    - Claims verification: public, no auth required.

    ## Rate limits
    - Ingest: 100 requests per minute per source.
    - Verification: 100 requests per minute per IP.
    - Other endpoints: 1000 requests per minute per token.

    ## Idempotency
    - Send Idempotency-Key header on POST endpoints.
    - Duplicate key returns the original response.

servers:
  - url: https://api.logiqed.tech/v1
    description: Production API
  - url: https://staging.api.logiqed.tech/v1
    description: Staging API

tags:
  - name: Shipments
    description: Trip and shipment management
  - name: Events
    description: Signed EPCIS event stream and Evidence Graph
  - name: Route
    description: Route state machine and monitoring
  - name: SLA
    description: Rules and exception attribution
  - name: Evidence
    description: Evidence Packages and verification
  - name: Claims
    description: ZK claims

security:
  - BearerAuth: []

paths:
  /shipments:
    post:
      tags: [Shipments]
      summary: Create a shipment
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentCreate'
      responses:
        '201':
          description: Shipment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    get:
      tags: [Shipments]
      summary: List shipments
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Shipment list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Shipment'

  /evidence/ingest:
    post:
      tags: [Events]
      summary: Submit signed evidence event
      description: |
        Entry point for signed EPCIS events. Server evaluates source trust server-side.
        The client never supplies the trust level.
      security:
        - DeviceKeyAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvidenceEventEnvelope'
      responses:
        '202':
          description: Event accepted for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvidenceIngestResponse'
        '400':
          description: Invalid payload or signature format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid telemetry key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Duplicate event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /evidence/verify:
    post:
      tags: [Evidence]
      summary: Verify an Evidence Package
      description: |
        Public endpoint. Any party can verify an Evidence Package without access to raw telemetry.
        No API key required.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvidenceVerifyRequest'
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvidenceVerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Package not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /shipments/{id}/route:
    get:
      tags: [Route]
      summary: Get route state machine snapshot
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Route state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteState'
        '404':
          description: Shipment not found

  /shipments/{id}/sla:
    get:
      tags: [SLA]
      summary: Evaluate SLA for shipment
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: SLA evaluation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SLAEvaluation'
        '404':
          description: Shipment not found

  /shipments/{id}/evidence:
    get:
      tags: [Evidence]
      summary: Get Evidence Package for shipment
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Evidence Package
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvidencePackage'
        '404':
          description: Shipment not found or no Evidence Package

  /claims/{claimId}:
    get:
      tags: [Claims]
      summary: Get claim by ID
      security: []
      parameters:
        - name: claimId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Public claim details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimPublic'

  /claims/verify:
    post:
      tags: [Claims]
      summary: Verify a claim proof
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimVerificationRequest'
      responses:
        '200':
          description: Claim verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimVerificationResult'
        '400':
          description: Invalid request
        '404':
          description: Claim or proof not found

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    DeviceKeyAuth:
      type: apiKey
      in: header
      name: X-Telemetry-Key

  schemas:
    ShipmentCreate:
      type: object
      required: [origin, destination, cargo, shipperId, vehicleId]
      properties:
        origin:
          type: string
          x-semanticTag: location
        destination:
          type: string
          x-semanticTag: location
        cargo:
          type: object
          required: [type]
          properties:
            weightKg:
              type: number
            volumeM3:
              type: number
            type:
              type: string
        shipperId:
          type: string
          x-semanticTag: party
        vehicleId:
          type: string
          x-semanticTag: entityId
          description: Vehicle or device identifier that will report events

    Shipment:
      type: object
      properties:
        id:
          type: string
          format: uuid
          x-semanticTag: entityId
        status:
          type: string
          example: "CREATED"
        createdAt:
          type: string
          format: date-time
          x-semanticTag: timestamp

    EvidenceEventEnvelope:
      type: object
      required: [sourceId, keyId, signatureAlgorithm, signature, canonicalizationMethod, schemaVersion, epcisEvent]
      properties:
        sourceId:
          type: string
          description: Device or API source identifier. Used by the server as the deduplication component alongside timestamp and sequence.
        keyId:
          type: string
          description: Identifier of the signing key
        signatureAlgorithm:
          type: string
          enum: [Ed25519, ML-DSA]
          example: "Ed25519"
        signature:
          type: string
          description: Base64 signature over canonical JSON of epcisEvent using JCS
        canonicalizationMethod:
          type: string
          enum: [JCS]
          description: Canonicalization algorithm, RFC 8785
        schemaVersion:
          type: string
          example: "1.0"
        epcisEvent:
          type: object
          description: GS1 EPCIS 2.0 event

    EvidenceIngestResponse:
      type: object
      properties:
        eventId:
          type: string
          format: uuid
        status:
          type: string
          example: "accepted"
        receivedAt:
          type: string
          format: date-time
          description: Server time of receipt in UTC
        trustEvaluation:
          type: object
          properties:
            sourceId:
              type: string
            sourceAssurance:
              type: string
              description: Trust level computed for this specific event, not the base level of the source.
              example: "E4"
            trustPolicy:
              type: string
              example: "E4_REQUIRED_V1"
            evaluationStatus:
              type: string
              enum: [PASS, FAIL, INSUFFICIENT_DATA]

    EvidenceVerifyRequest:
      type: object
      description: Either packageId or a full package payload is required.
      properties:
        packageId:
          type: string
          format: uuid
        package:
          type: object
          description: Full Evidence Package payload

    EvidenceVerifyResponse:
      type: object
      properties:
        requestId:
          type: string
        packageId:
          type: string
          format: uuid
        schemaVersion:
          type: string
        result:
          type: object
          properties:
            status:
              type: string
              enum: [VALID, INVALID]
            reason:
              type: string
            conclusion:
              type: string
        checks:
          type: object
          properties:
            signature:
              type: string
              enum: [PASS, FAIL, SKIP]
            evidenceRootMerkle:
              type: string
              enum: [PASS, FAIL, SKIP]
            evidenceRootAnchor:
              type: string
              enum: [PASS, FAIL, SKIP]
            ruleDigest:
              type: string
              enum: [PASS, FAIL, SKIP]
            trustPolicy:
              type: string
              enum: [PASS, FAIL, SKIP]
            corroboration:
              type: string
              enum: [PASS, FAIL, SKIP]
            proofValidity:
              type: string
              enum: [PASS, FAIL, SKIP]
        trustPolicy:
          type: object
          properties:
            id:
              type: string
            version:
              type: string
            evaluationStatus:
              type: string
        rule:
          type: object
          properties:
            id:
              type: string
            version:
              type: string
            digest:
              type: string
        evidenceRoot:
          type: string
        externalAnchorRef:
          type: string
        proof:
          type: object
          properties:
            backend:
              type: string
            circuitId:
              type: string
            version:
              type: string
            valid:
              type: boolean
        verifiedAt:
          type: string
          format: date-time

    RouteState:
      type: object
      properties:
        shipmentId:
          type: string
          format: uuid
        state:
          type: string
          example: "SLA_PAUSED"
        updatedAt:
          type: string
          format: date-time

    SLAEvaluation:
      type: object
      properties:
        shipmentId:
          type: string
          format: uuid
        ruleVersion:
          type: string
        conclusion:
          type: string
        chargeableDelayMin:
          type: integer
        reasons:
          type: array
          items:
            type: string
        confidence:
          type: string
          enum: [PASS, FAIL, INSUFFICIENT_DATA]

    EvidencePackage:
      type: object
      properties:
        packageId:
          type: string
          format: uuid
        claimType:
          type: string
          enum: [DETENTION, CARGO_CONDITION]
        conclusion:
          type: object
        proofReference:
          type: string
        schemaVersion:
          type: string
        evidenceRoot:
          type: string
        externalAnchorRef:
          type: string
          description: Arweave transaction ID
        createdAt:
          type: string
          format: date-time

    ClaimPublic:
      type: object
      properties:
        claimId:
          type: string
          format: uuid
        claimType:
          type: string
        result:
          type: string
        evidenceRoot:
          type: string
        proofReference:
          type: string
        schemaVersion:
          type: string

    ClaimVerificationRequest:
      type: object
      required: [claimId]
      properties:
        claimId:
          type: string
          format: uuid

    ClaimVerificationResult:
      type: object
      properties:
        claimType:
          type: string
        claimVersion:
          type: string
        result:
          type: string
        rule:
          type: object
          properties:
            id:
              type: string
            version:
              type: string
            digest:
              type: string
        trustPolicy:
          type: object
          properties:
            id:
              type: string
            version:
              type: string
            result:
              type: string
              enum: [PASS, FAIL, INSUFFICIENT_DATA]
        corroboration:
          type: object
          properties:
            result:
              type: string
        evidenceRoot:
          type: string
        proof:
          type: object
          properties:
            backend:
              type: string
            circuitId:
              type: string
            version:
              type: string
            valid:
              type: boolean
        schemaVersion:
          type: string
        verifiedAt:
          type: string
          format: date-time

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            requestId:
              type: string

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'